<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>东湖网信办</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="alternate icon" type="static/img/hengwang-1.png" href="static/static/img/hengwang-1.png">
    <link rel="stylesheet" href="static/css/amazeui.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>


<body>
<header class="am-topbar header">
    <div class="am-container-1">
        <div class="left hw-logo">
            <strong>东湖网信办</strong>
        </div>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse right" id="doc-topbar-collapse">


            <div class=" am-topbar-left am-form-inline am-topbar-right" role="search">
                <ul class="am-nav am-nav-pills am-topbar-nav hw-menu">
                    <li class="hw-menu-active"><a href="index.html">首页</a></li>
                       <li><a href="nCoV2019.html">nCoV2019</a></li>
                      <li><a href="online.html">在线交流</a></li>
                    <li><a href="solutions.html">技术支持</a></li>
                    <li><a href="product-show.html">技术方案展示 </a></li>

                    <li><a href="service-center.html">服务中心 </a></li>
                    <li><a href="news.html">新闻动态 </a></li>
                    <li><a href="about-us.html">关于我们</a></li>

                </ul>
            </div>

        </div>
    </div>
</header>
<div class="rollpic">
    <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
        <ul class="am-slides">

            <li><img src="static/img/hw_bg.png"/></li>
            <li><img src="static/img/hw_bg3.png"/></li>
        </ul>
    </div>
</div>
<div class="am-container-1">
    <div class="solutions part-all">
        <div class="part-title">
            <a href="solutions.html">
                <i class="am-icon-lightbulb-o part-title-i"></i>
                <span class="part-title-span">技术支持</span>
                <p>Solutions</p>
            </a>
        </div>
        <ul class="am-g part-content solutions-content">
            <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                <i class="am-icon-safari solution-circle"></i>
                <span class="solutions-title">地理信息技术支持</span>
                <p class="solutions-way">地理信息技术支持地理信息技术支持地理信息技术支持</p>
            </li>
            <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                <i class="am-icon-magic solution-circle"></i>
                <span class="solutions-title">移动网站技术支持</span>
                <p class="solutions-way">移动网站微信公众号开发移动网站微信公众号开发,解决方案</p>
            </li>
            <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                <i class="am-icon-phone solution-circle"></i>
                <span class="solutions-title">测绘技术支持</span>
                <p class="solutions-way">测绘技术支持测绘技术支持测绘技术支持测绘技术支持</p>
            </li>
            <li class="am-u-sm-6 am-u-md-3 am-u-lg-3">
                <i class="am-icon-hacker-news solution-circle"></i>
                <span class="solutions-title">其他技术支持</span>
                <p class="solutions-way">其他技术支持其他技术支持其他技术支持</p>
            </li>

        </ul>

    </div>
</div>
{#<div class="gray-li">#}
{#    <div class="customer-case part-all ">#}
{#        <div class="part-title">#}
{#            <a href="customer-case.html">#}
{#                <i class=" am-icon-briefcase part-title-i"></i>#}
{#                <span class="part-title-span">我们的工程师</span>#}
{#                <p>Customer Case</p>#}
{#            </a>#}
{#        </div>#}
{##}
{##}
{#        <ul data-am-widget="gallery" class=" am-avg-sm-1#}
{#  am-avg-md-4 am-avg-lg-4 am-gallery-bordered customer-case-content">#}
{#            <li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3">#}
{#                <div class="am-gallery-item case-img1">#}
{#                    <a href="#">#}
{#                        <img src="static/img/4.jpg"/>#}
{##}
{#                    </a>#}
{##}
{#                </div>#}
{#                  <div class="miaoshu">#}
{##}
{#                        <p>简介</p>#}
{#                        <a>#}
{#                            <button class="but" onclick="shijian">寻求技术支持</button>#}
{#                        </a>#}
{#                    </div>#}
{#                <div class="case-li-mengban"></div>#}
{#            </li>#}
{#            <li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3">#}
{#                <div class="am-gallery-item case-img1">#}
{#                    <a href="#">#}
{#                        <img src="static/img/2.jpg"/>#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div class="miaoshu">#}
{##}
{#                        <p>简介</p>#}
{#                        <a>#}
{#                            <button class="but">寻求技术支持</button>#}
{#                        </a>#}
{#                    </div>#}
{#                <div class="case-li-mengban"></div>#}
{#            </li>#}
{#            <li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3">#}
{#                <div class="am-gallery-item case-img1">#}
{#                    <a href="#">#}
{#                        <img src="static/img/3.jpg"/> <div class="miaoshu">#}
{##}
{#                        <p>简介</p>#}
{#                        <a>#}
{#                            <button class="but">寻求技术支持</button>#}
{#                        </a>#}
{#                    </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="case-li-mengban"></div>#}
{#            </li>#}
{#            <li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3">#}
{#                <div class="am-gallery-item case-img1">#}
{#                    <a href="#">#}
{#                        <img src="static/img/4.jpg"/>#}
{#                    </a> <div class="miaoshu">#}
{##}
{#                        <p>简介</p>#}
{#                        <a>#}
{#                            <button class="but">寻求技术支持</button>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="case-li-mengban"></div>#}
{#            </li>#}
{#            <li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3">#}
{#                <div class="am-gallery-item case-img1">#}
{#                    <a href="#">#}
{#                        <img src="static/img/2.jpg"/>#}
{#                    </a> <div class="miaoshu">#}
{##}
{#                        <p>简介</p>#}
{#                        <a>#}
{#                            <button class="but">寻求技术支持</button>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="case-li-mengban"></div>#}
{#            </li>#}
{#            <li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3">#}
{#                <div class="am-gallery-item case-img1">#}
{#                    <a href="#">#}
{#                        <img src="static/img/3.jpg"/>#}
{#                    </a> <div class="miaoshu">#}
{##}
{#                        <p>简介</p>#}
{#                        <a>#}
{#                            <button class="but">寻求技术支持</button>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="case-li-mengban"></div>#}
{#            </li>#}
{#            <li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3">#}
{##}
{##}
{#                <div class="am-gallery-item case-img1">#}
{#                    <a href="#">#}
{#                        <img src="static/img/2.jpg"/>#}
{#                    </a> <div class="miaoshu">#}
{##}
{#                        <p>简介</p>#}
{#                        <a>#}
{#                            <button class="but">寻求技术支持</button>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="case-li-mengban"></div>#}
{##}
{#            </li>#}
{#            <li class="case-li am-u-sm-6 am-u-md-6 am-u-lg-3">#}
{#                <div class="am-gallery-item case-img1">#}
{#                    <a href="#">#}
{#                        <img src="static/img/4.jpg"/>#}
{#                    </a> <div class="miaoshu">#}
{##}
{#                        <p>简介</p>#}
{#                        <a>#}
{#                            <button class="but">寻求技术支持</button>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="case-li-mengban"></div>#}
{#            </li>#}
{##}
{#        </ul>#}
{#        <div class="lan-bott">#}
{#            <div class="left"><span>全方位解决方案,为您轻松解决不同问题</span>#}
{#                <p>A full range of solutions for you to solve different problems</p>#}
{#            </div>#}
{#            <div class="right">#}
{#                <a href="customer-case.html">#}
{#                    <span class="see-more">查看更多<i class="am-icon-angle-double-right"></i></span>#}
{#                </a>#}
{#            </div>#}
{#            <div class="clear"></div>#}
{#        </div>#}
{#        <div class="part-title">#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}


<div class=" news-all">
    <div class="am-container-1">
        <div class="news part-all">
            <div class="part-title">
                <a href="news.html">
                    <i class="am-icon-newspaper-o part-title-i"></i>
                    <span class="part-title-span">我们的工程师</span>
                    <p>寻求技术支持</p>
                </a>
            </div>
            <div class="news-content ">
                <ul class="news-content-ul">
                    <li class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <a href="#">
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
                                <div class="news-img">
                                    <img src="static/img/2.jpg"></img>
                                </div>
                            </div>
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
                                <span class="news-right-title">地理信息高级工程师</span>
                                <p class="news-right-time">许高工</p>
                                <p class="news-right-words">擅长地图软件的开发...</p>
                                <a><span class="see-more2">


                                    <i class="am-icon-angle-double-right" data-toggle="modal" data-target="#myModal">与他咨询</i></span></a>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <li class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <a href="#">
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
                                <div class="news-img">
                                    <img src="static/img/3.jpg"></img>
                                </div>
                            </div>
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
                                <span class="news-right-title">开发高级工程师</span>
                                <p class="news-right-time">刘博士</p>
                                <p class="news-right-words">擅长网站程序开发...</p>
                                <a><span class="see-more2">


                                    <i class="am-icon-angle-double-right" data-toggle="modal" data-target="#myModal">与他咨询</i></span></a>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <div class="clear"></div>
                    <br>
                    <br>
                    <li class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <a href="#">
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
                                <div class="news-img">
                                    <img src="static/img/4.jpg"></img>
                                </div>
                            </div>
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
                                <span class="news-right-title">地理信息高级工程师</span>
                                <p class="news-right-time">许高工</p>
                                <p class="news-right-words">擅长IT硬件维护...</p>
                                <a><span class="see-more2">


                                    <i class="am-icon-angle-double-right" data-toggle="modal" data-target="#myModal">与他咨询</i></span></a>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>

                    <li class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <a href="#">
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
                                <div class="news-img">
                                    <img src="static/img/3.jpg"></img>
                                </div>
                            </div>
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
                                <span class="news-right-title">开发高级工程师</span>
                                <p class="news-right-time">刘博士</p>
                                <p class="news-right-words">擅长...</p>
                                <a><span class="see-more2">


                                    <i class="am-icon-angle-double-right" data-toggle="modal" data-target="#myModal">与他咨询</i></span></a>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
    <div class="clear"></div>
                    <br>
                    <br>
                    <li class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <a href="#">
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
                                <div class="news-img">
                                    <img src="static/img/4.jpg"></img>
                                </div>
                            </div>
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
                                <span class="news-right-title">地理信息高级工程师</span>
                                <p class="news-right-time">许高工</p>
                                <p class="news-right-words">擅长IT硬件维护...</p>
                                <a><span class="see-more2">


                                    <i class="am-icon-angle-double-right" data-toggle="modal" data-target="#myModal">与他咨询</i></span></a>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>

                    <li class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <a href="#">
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-5">
                                <div class="news-img">
                                    <img src="static/img/2.jpg"></img>
                                </div>
                            </div>
                            <div class=" am-u-sm-12 am-u-md-12 am-u-lg-7">
                                <span class="news-right-title">开发高级工程师</span>
                                <p class="news-right-time">刘博士</p>
                                <p class="news-right-words">擅长...</p>
                                <a><span class="see-more2">


                                    <i class="am-icon-angle-double-right" data-toggle="modal" data-target="#myModal">与他咨询</i></span></a>
                            </div>
                            <div class="clear"></div>
                        </a>
                    </li>
                    <div class="clear"></div>
                </ul>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    技术支持反馈
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">问题反馈</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstname" placeholder="请输入">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">更多留言...</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>

   <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">联系方式</label>
                    <div class="col-sm-10">
                        <input type="textarea" class="form-control" id="firstname" placeholder="请输入">
                    </div>
            </div>

            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
            </button>
            <button type="button" class="btn btn-primary">
                提交反馈
            </button>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->
</div>
<!--<div class="three-reason">
			<div class="part-title three-reason-title">
			<span class="part-title-span w-white">选择恒望的三大理由</span>
			<p class="w-white">Why Choose Hengwang</p>
			
		</div>
			<ul class="am-g part-content three-reason-content">
			  <li class="am-u-sm-4 am-u-md-4 am-u-lg-4">
			  	<div class="three-reason-img1 "></div>
			  	<p class="reason-title w-white">规模优势<br/>Scale advantage</p>
			  </li>
			  <li class="am-u-sm-4 am-u-md-4 am-u-lg-4">
			  	<div class="three-reason-img2 "></div>
			  	<p class="reason-title w-white ">领先技术<br/>Leading technology</p>
			  </li>
			  <li class="am-u-sm-4 am-u-md-4 am-u-lg-4">
			  	<div class="three-reason-img3 "></div>
			  	<p class="reason-title w-white">整合能力<br/>Integration capability</p>
			  </li>
		</ul>
		</div>-->
<div class="part-all gray-li">
    <div class="customer  am-container-1">
        <div class="part-title">
            <i class="am-icon-users part-title-i"></i>
            <span class="part-title-span">服务客户</span>
            <p>Serve Customers</p>
        </div>

        <div class="am-slider am-slider-default am-slider-carousel part-all"
             data-am-flexslider="{itemWidth:150, itemMargin: 5, slideshow: false}"
             style="  background-color: #f0eeed; box-shadow:none;">
            <ul class="am-slides">
                <li><img src="static/img/ptn4.png"/></li>
                <li><img src="static/img/ptn5.png"/></li>
                <li><img src="static/img/ptn6.png"/></li>
                <li><img src="static/img/ptn7.png"/></li>
                <li><img src="static/img/ptn8.png"/></li>
                <li><img src="static/img/ptn4.png"/></li>
                <li><img src="static/img/ptn5.png"/></li>
                <li><img src="static/img/ptn6.png"/></li>
                <li><img src="static/img/ptn7.png"/></li>
                <li><img src="static/img/ptn8.png"/></li>
            </ul>
        </div>
        <!--<ul class="customer-content">
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="static/img/ptn4.png"/></div></li>
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="static/img/ptn5.png"/></div></li>
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="static/img/ptn6.png"/></div></li>
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="static/img/ptn7.png"/></div></li>
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="static/img/ptn8.png"/></div></li>
            <li class="am-u-sm-6 am-u-md-4 am-u-lg-2"><div><img src="static/img/ptn4.png"/></div></li>
            <div class="clear"></div>
        </ul>-->
    </div>
</div>
<footer class="footer ">

    <ul>

        <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 part-5-li2">
            <div class="part-5-title">联系我们</div>
            <div class="part-5-words2">
                <span>地址:武汉市洪山区街道口</span>
                <span>电话:13211111111</span>
                <span>传真:(123) 456-7890</span>
                <span>邮箱:support@dhwx.online</span>
                <span><i class="am-icon-phone"></i><em>027-123321123</em></span>
            </div>
        </li>
        <li class="am-u-lg-4 am-u-md-4 am-u-sm-12 ">
            <div class="part-5-title">相关链接</div>
            <div class="part-5-words2">
                <ul class="part-5-words2-ul">
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="solutions.html">解决方案</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="product-show.html">产品展示</a></li>

                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="service-center.html">服务中心</a></li>
                    <li class="am-u-lg-4 am-u-md-6 am-u-sm-4"><a href="about-us.html">关于我们</a></li>

                    <div class="clear"></div>
                </ul>
            </div>
        </li>
        <div class="clear"></div>
    </ul>

</footer>


</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
{#<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>#}
<script src="static/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="static/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="static/js/amazeui.min.js"></script>
<script src="static/js/scroll.js"></script>


<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script type="text/javascript">


</script>
</html>
