{% extends "top.html"%}
{%block page-content%}
    
    <!--网站中间部分内容开始-->
    <div id="wrap">
        <div class="container" id="main">
            <!--左边内容-->
            <div class="col-md-8" id="left">
                     <!--页面左边的内容-->
	{% load paginate_tags %}
	{% paginate article_list 10 %}
    <div class="panel panel-default panel-amend">
        <div class="panel-heading panel-heading-amend">
            <h3 class="panel-title panel-title-margin">最新帖子</h3>
            <a class="btn btn-success create-article-btn" href="/article_create/">我要发布新文章</a>
        </div>
        {%for articles in article_list%}
            <div class="panel-body no-panel-body-padding">
                <div class="list-group">
                    <div class=" list-group-item list-group-item-margin list-topic-item border-less">
                        <span class="badge pull-right list-reply-count hidden-xs">点赞{{articles.likes_user.count}}</span>
                        <div class="row">
                            <div class="col-md-1 col-xs-2 col-sm-2" id="limit-width">
                                <a href="http://www.aeflt.net/user/center/display/?uid=1">
                                    <img class="avatar-middle" src="../static/7c93baa4-056c-11e6-8212-000c2919e245.jpg" title="admin">
                                </a>
                            </div>
                            <div class="col-xs-9 col-md-10 col-sm-9">
                                <h3 class="list-post-title"><a href="{% url 'article_detail_page' articles.pk %}" title="{{articles.title}}">{{articles.title}}</a></h3>
                                <p class="list-meta">
                                    <span class="label label-default list-meta-node">
                                        <a href="{% url 'article_detail_page' articles.pk %}">{{articles.category.name}}</a>
                                    </span>
                                    <span class="list-count">{{articles.views}}次浏览</span>
                                    <span class="list-time">{{articles.create_time|date:"Y年m月d日"}}</span>
                                    <span class="list-username">{{articles.auther.name}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			{%endfor%}
		{% include 'pagination.html' %}
    </div>
 <!--定义字模板可以继承的左边的内容块-->
            </div>
            <!--右边内容-->
            <div class="col-md-4" id="right">
                 <!--页面右边的内容-->
    <!--引入版块切换的代码-->
    <div class="panel panel-default panel-amend">
    <div class="panel-heading panel-heading-amend">
        <h3 class="panel-title">文章分类</h3>
    </div>
    <div class="panel-body">
        {%for category in category_list%}
            <a class="btn btn-default category_btn" href="{% url 'category_article_page' category.pk %}">{{category.name}}</a>
		{%endfor%}
    </div>
</div>
    
    <!--引入精品帖子推荐排行的代码-->
    <div class="panel panel-default panel-amend">
    <div class="panel-heading panel-heading-amend">
        <h3 class="panel-title">最受欢迎文章</h3>
    </div>
    <ul class="list-group">
        
            <!--限制只在精华帖子面板处显示最新的10条精华帖子-->
            
                <li class="list-group-item">
				{%for article in popular_article%}
                    <div class="row row_min_height">
                        <a href="http://www.aeflt.net/user/center/display/?uid=1" class="recommend_topic"><img class="recommend_topic_img" src="../static/7c93baa4-056c-11e6-8212-000c2919e245.jpg" title="admin"></a>
                        <div class="recommend_topic_list">
                            <a href="{% url 'article_detail_page' article.pk %}" title="{{article.name}}">{{article.title}}</a>
                        </div>
                    </div>
				{%endfor%}
                </li>
    </ul>
</div>
    <!--引入浏览量排行代码-->
    <div class="panel panel-default panel-amend">
    <div class="panel-heading panel-heading-amend">
        <h3 class="panel-title">浏览量排行榜</h3>
    </div>
     <ul class="list-group">
        
            <li class="list-group-item">
			{%for article in views_article%}
                <div class="row row_min_height">
                    <a href="http://www.aeflt.net/user/center/display/?uid=8" class="hot_topic"><img class="hot_topic_img" src="../static/default.jpg" title="潭州助理老师  瑾萱"></a>
                    <div class="hot_topic_list">
                        <a href="{% url 'article_detail_page' article.pk %}" title="{{article.title}}">{{article.title}}</a>
                    </div>
                </div>
			{%endfor%}
            </li>
    </ul>
</div>
    <!--引入最近加入的用户代码-->
    <div class="panel panel-default panel-amend">
    <div class="panel-heading panel-heading-amend">
        <h3 class="panel-title">最近登录的用户</h3>
    </div>
    <div class="panel-body">
	{%for users in latest_login_user%}
		<span class="list-username">{{users.name}}</span>
	{%endfor%}
    </div>

</div>
    <!--引入论坛运行状态统计代码-->
    <div class="panel panel-default panel-amend">
    <div class="panel-heading panel-heading-amend">
        <h3 class="panel-title">博客运行状态</h3>
    </div>
    <div class="list-group">
        <span class="list-group-item">当前用户总计:{{user_count}}</span>
		<span class="list-group-item">当前在线用户:{{user_count}}</span>
		<span class="list-group-item">当前文章总数:{{article_count}}</span>
    </div>
</div>

    <!--引入友情链接的代码-->
    <div class="panel panel-default panel-amend">
    <div class="panel-heading panel-heading-amend">
        <h3 class="panel-title">友情链接</h3>
    </div>
    <div class="panel-body">
        
            <a class="btn friendly_link" target="_blank" href="https://github.com/jimforit">Jim的GitHub首页</a>
        
            <a class="btn friendly_link" target="_blank" href="http://v3.bootcss.com/">Bootstrap文档</a>
        
            <a class="btn friendly_link" target="_blank" href="https://www.djangoproject.com/">Django官网</a>
        
    </div>
</div>
 <!--定义子模板可以继承的右边的内容块-->
            </div>
            <!--网站中间部分内容的左边内容结束-->
        </div>
    </div>
    <!--网站中间部分内容结束-->
 <!--定义子模板可以继承的网站中间部分的内容块-->
    <!--底部代码开始-->
    <footer class="footer-color nav-footer-color" id="footer">
        <div class="container clearfix">
            <div class="text-muted pull-left">
                   <p id="text-color">JimBlog</p>
            </div>
            <p class="muted credit pull-right" id="text-color">
                ©<time>2016</time> Powered by Jim
            </p>
        </div>
    </footer>
    <!--底部代码结束-->
    <script src="../static/jquery-2.1.1.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <!--定义子模板可以继承的js块-->
  

{%endblock%}
